# Server
PORT=3000

# Future: Database
# DATABASE_URL=postgresql://user:password@localhost:5432/logiflow

# Future: Redis
# REDIS_HOST=localhost
# REDIS_PORT=6379

# gRPC Optimizer
GRPC_OPTIMIZER_HOST=localhost
GRPC_OPTIMIZER_PORT=50051
